<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

  <body>
    <%- include('./partials/nav.ejs')%>
      <div>
        Personal blog
        <p>Build with Node.js, Express, EJS, MongoDB</p>
      </div>
  </body>

</html>