* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    background-color: black;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 1px solid #a0a0a031;
    background-color: rgba(0, 0, 0, 0.656);
    backdrop-filter: blur(10px);
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 50px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #a0a0a0;
    font-size: 14px;
    font-weight: 400;
}

a:hover {
    color: #C6C6C6
}

h1 {
    color: white;
    margin-bottom: 52px;
}

li {
    color: white;
    cursor: pointer;
}

li:hover {
    color: #C6C6C6
}